/*Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1b1d;
    color: #fff;
}

.svg-bg {
    position: relative;
}

.svg-section {
    position: relative;
}

.svg-text {
    font-size: 80px;
    font-weight: normal;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-img {
    width: 100%;
    height: auto;
}

/*Code for adjusting NavBar */


nav{
    background-color: #3C4245;
    padding: 10px 0;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.link {
    margin: 0;
}

.link a  {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3;
}

.link a:hover {
    background-color: #464d51;
    border-radius: 5px; /*added slight rounding for aestetic*/
}


.header-and-about{
    display: flex;
    margin-top: 340px;
    margin-bottom: 650px;
    padding: 150px;
    font-size: 22px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itallic {
    font-style: italic;
}

.RS-logo {
    margin-left: 2px;
    padding-left: 2px;
    height: 27vh;
    max-width: auto;
}


/*Code for adjusting Project img/links */

.projects {
    text-align: center;
}
.h2-projects {
    padding-top: 200px; 
    margin-top: -200px;
    font-size: 44px;
}


.image-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px, 0;
}

.flex-box-images , .flex-box-images2 {
    border-style: solid;
    border-color: #464d51;
    border-width: 6px;
}

.flex-box-images {
    margin: 0px;
    padding: 0px;
    height: 40vh;
    width: auto;
}

.flex-box-images2 {
    margin-top: 50px;
    padding: 0px;
    height: 60vh;
    width: auto;
}

.image-container a{
    position: relative;
    flex: 1;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-bottom: 300px;
}

.image-container a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay-text {
    color: #ffffff;
    position: absolute;
    bottom: 80px;
    left: 4px;
    padding: 5px 10px;
    border-top: solid;
    border-right: solid;

}

.overlay-text2 {
    color: #ffffff;
    position: absolute;
    bottom: 60px;
    left: 4px;
    padding: 5px 10px;
    border-bottom: solid;
    border-right: solid;

}

.overlay-text3 {
    color: #000000;
    position: absolute;
    bottom: 60px;
    left: 20px;
    padding: 5px 10px;

}

.overlay-text4 {
    color: #000000;
    position: absolute;
    bottom: 40px;
    left: 20px;
    padding: 5px 10px;

}




/*Code for adjusting Footer logos */
.IG-Logo , .GitHub-Cat-Logo {
    height: 5vh;
    width: auto;
    margin: 5px;
}

#contact{
    border-style: solid;
    border-radius: 10px;
    border-color:#464d51;
}
.footer-bar {
    background-color: #1b1b1d;
    padding: 20px 0;
    text-align: center;
}


.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list-text {
    margin: 5px;
    padding: 0 10px;
    color: white;
    display: flex;
    font-weight:bold;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

