/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    /*box-shadow: 0 0 0 1px red;*/
}

html {
    scroll-behavior: smooth;
}

/* Arrow Icon */
.arrow-up-icon {
    position: fixed;
    transform: scale(0.4);
    bottom: 5%;
    right: 3%;
    border: solid;
    border-width: 8px;
    padding: 2px;
    padding-top: 5px;
    border-radius: 90%;
    transition: transform 0.3s ease-out, border-color 0.3s ease-out;

}

.arrow-up-icon:hover {
    border-color: #007cff;
    transform: scale(0.5);
    transition: transform 0.1s ease-in;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1b1d;
    color: #fff;
}

/* SVG Image */
.svg-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.svg-section {
    position: relative;
    width: 100%;
    height: 100%;
}

.svg-container {
    position: absolute;
    left: 50%;
    top: 450px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.svg-text {
    font-size: 80px;
    font-weight: normal;
}

.svg-img {
    width: 100%;
    height: 100%;
}

button {
    font-size: 15px;
    justify-content: center;
    position: relative;
    border: solid;
    border-color: #fff;
    border-radius: 20px;
    color: #fff;
    background-color: transparent;
    padding: 20px;
    transition: background-color ease-out 0.5s;
}

button:hover {
    background-color: #007cff;
    transition: background-color 0.5s;
}

/*Code for adjusting NavBar */
nav {
    background-color: #3C4245;
    padding: 10px 0;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.link {
    margin: 0;
}

.link a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3;
}

.link a:hover {
    background-color: #787878;
    border-radius: 5px;
}

/* About Me */
.header-and-about {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 28px;
    flex-direction: row;
    align-items: center;
    top: 380px;
    margin: auto;
    margin-bottom: 890px;
    overflow: hidden;
}

.about-me-text {
    max-width: 1200px;
    padding: 0px;
    margin: 20px;
    font-weight: lighter;
}

.about-me-header {
    margin: 20px;
}

.itallic {
    font-style: italic;
}

.RS-logo {
    margin-right: 20px;
    padding-left: 2px;
    height: 40vh;
    max-width: auto;
}

/*Code for adjusting Project img & links */
.projects {
    text-align: center;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0px auto;
}

.image-container a:hover .hover-text {
    transition: opacity ease-in 1.6s;
    opacity: 1;
}

.image-container a:hover .hover-text2 {
    transition: opacity ease-in 1.6s;
    opacity: 1;
}

.image-container a:hover .hover-text3 {
    transition: opacity ease-in 1.6s;
    opacity: 1;
}

.image-container a:hover .overlay-text {
    transition: opacity ease-in 1.2s;
    opacity: 1;
}

.image-container a:hover .overlay-text2 {
    transition: opacity ease-in 1.2s;
    opacity: 1;
}

.image-container a:hover .overlay-text3 {
    transition: opacity ease-in 1.2s;
    opacity: 1;
}

.image-container a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.flex-box-images,
.flex-box-images2,
.flex-box-images3 {
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    border-color: #787878;
    border-width: 8px;
    margin: 0px;
    padding: 0px;
    height: 40vh;
    width: auto;
    margin-bottom: 30px;
    transition: box-shadow 0.5s;
}

.flex-box-images:hover,
.flex-box-images2:hover,
.flex-box-images3:hover {
    box-shadow: 0 0 10px #b8b8b880;
}

.flex-box-images2 {
    margin-top: 20px;
    margin-left: -50px;
    height: 60vh;
}

.flex-box-images3 {
    margin-left: 18px;
}

.h2-projects {
    position: relative;
    border: solid;
    font-weight: normal;
    border-color: #fff;
    background-color: #787878;
    border-radius: 10px;
    border-width: 3px;
    padding: 10px;
    font-size: 20px;
}


.hover-text,
.hover-text2,
.hover-text3 {
    position: relative;
    text-align: left;
    left: 25px;
    margin: 0px;
    padding: 0px;
    min-width: 220px;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
}

.hover-text2 {
    font-size: 12px;
}

.hover-list {
    list-style-type: none
}


.project-text-wrapper {
    flex-grow: 1;
    min-width: 0;
}

.project-image-wrapper {
    flex-shrink: 0;
    transition: transform 1.6s;
}

.image-container a:hover .project-image-wrapper {
    transform: scale(1.028);
    transition: transform 1.6s;
}

.overlay-text,
.overlay-text2,
.overlay-text3 {
    position: relative;
    text-align: center;
    color: #ffffff;
    border: solid;
    border-radius: 5px;
    background-color: #787878;
    opacity: 0;
    transition: opacity 1.2s;
}

.overlay-text {
    right: 498%;
    top: 130px;
    border-color: #ffffff;
}

.overlay-text2 {
    right: 450%;
    bottom: 100px;
    border-color: #fff;
}

.overlay-text3 {
    right: 428%;
    top: 20px;
    border-color: #000;
}

/*Code for adjusting Footer logos */
.IG-Logo,
.GitHub-Cat-Logo {
    height: 6vh;
    width: auto;
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 0px #6a7073;
    transition: box-shadow 0.5s;
}

.IG-Logo {
    border-radius: 20px;
}

.GitHub-Cat-Logo {
    border-radius: 100%;
}

/* Add hover styles for the logos */
.IG-Logo:hover,
.GitHub-Cat-Logo:hover {
    box-shadow: 0px 0px 20px #3C4245;
}

.footer-bar {
    background-color: #1b1b1d;
    padding: 20px 0;
    text-align: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list-text {
    margin: 5px;
    padding: 0 10px;
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
}

/* Gradient style code from https://cssgradient.io/ */
.footer-bar {
    background: linear-gradient(90deg, 
    rgba(27, 27, 29, 1) 0%, 
    rgba(27, 27, 29, 1) 0.99999999999999%, 
    rgba(0, 124, 255, 1) 50%, 
    rgba(27, 27, 29, 1) 99.9999999999999%, 
    rgba(27, 27, 29, 1) 100%);
}


@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .arrow-up-icon {
        visibility: hidden;
    }

    button {
        font-size: 16px;
        justify-content: center;
        position: relative;
        border: solid;
        border-color: #fff;
        border-radius: 20px;
        color: #fff;
        background-color: transparent;
        padding: 8px;
        transition: background-color ease-out 0.5s;
    }

    .svg-bg {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .header-and-about {
        flex-direction: column;
        align-items: center;
        top: 150px;
        margin-bottom: 500px;
    }

    .RS-logo {
        height: 35vh;
        width: auto;
    }


    .svg-text {
        font-size: 60px;
    }

    .projects,
    .project-container {
        padding: 0 20px;
    }

    .image-container {
        flex-direction: column;
        left: 0;
    }

    .h2-projects {
        position: relative;
        border: solid;
        border-color: #fff;
        background-color: #787878;
        border-radius: 10px;
        border-width: 3px;
        margin: 20px;
        font-size: 22px;
        max-width: fit-content;
    }

    .flex-box-images,
    .flex-box-images3 {
        border-style: solid;
        border-radius: 10px;
        overflow: hidden;
        border-color: #787878;
        border-width: 8px;
        margin: 0px;
        padding: 0px;
        height: 28vh;
        width: auto;
        margin-bottom: 40px;
    }

    .flex-box-images2 {
        border-style: solid;
        border-radius: 10px;
        overflow: hidden;
        border-color: #787878;
        border-width: 8px;
        margin: 0px;
        padding: 0px;
        height: 40vh;
        width: auto;
        margin-bottom: 40px;
    }

    .overlay-text,
    .overlay-text2,
    .overlay-text3 {
        opacity: 0;
    }

    .hover-text,
    .hover-text2,
    .hover-text3 {
        position: relative;
        text-align: left;
        left: 15px;
        margin: 0px;
        padding: 0px;
        min-width: 320px;
        max-width: 320px;
        color: #fff;
        opacity: 0;
        font-size: 10px;
    }

    .footer-bar {
        flex-direction: row;
    }

    .contact-list {
        flex-direction: row;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    .arrow-up-icon {
        visibility: hidden;
    }


    button {
        font-size: 14px;
        justify-content: center;
        position: relative;
        border: solid;
        border-color: #fff;
        border-radius: 20px;
        color: #fff;
        background-color: transparent;
        padding: 8px;
        transition: background-color ease-out 0.5s;
    }

    .svg-bg {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .header-and-about {
        flex-direction: column;
        align-items: center;
        top: 150px;
        margin-bottom: 250px;
    }

    .RS-logo {
        height: 30vh;
        width: auto;
    }

    .svg-text {
        font-size: 45px;
    }

    .about-me-text {
        font-size: 22px;
    }

    .projects,
    .project-container {
        padding: 0 20px;
    }

    .image-container {
        flex-direction: column;
        left: 0;
    }

    .h2-projects {
        position: static;
        border: solid;
        border-color: #fff;
        background-color: #787878;
        border-radius: 10px;
        border-width: 3px;
        margin: 0px;
        font-size: 16px;
        max-width: fit-content;
    }

    .flex-box-images,
    .flex-box-images2,
    .flex-box-images3 {
        border-style: solid;
        border-radius: 10px;
        overflow: hidden;
        border-color: #787878;
        border-width: 8px;
        margin: 0px;
        padding: 0px;
        height: 25vh;
        width: auto;
        margin-bottom: 40px;
    }

    .flex-box-images2 {
        margin-top: 40px;
        height: 35vh;
    }

    .overlay-text,
    .overlay-text2,
    .overlay-text3 {
        opacity: 0;
    }

    .hover-text,
    .hover-text2,
    .hover-text3 {
        position: relative;
        text-align: left;
        left: 10px;
        margin: 0px;
        padding: 0px;
        min-width: 120px;
        max-width: 120px;
        color: #fff;
        opacity: 1;
        font-size: 7px;
    }

    .footer-bar {
        flex-direction: column;
    }

    .contact-list {
        flex-direction: column;
    }
}



@media screen and (max-width: 768px) {


    .arrow-up-icon {
        visibility: hidden;
    }

    button {
        font-size: 10px;
        justify-content: center;
        position: relative;
        border: solid;
        border-color: #fff;
        border-radius: 20px;
        color: #fff;
        background-color: transparent;
        padding: 8px;
        transition: background-color ease-out 0.5s;
    }

    .svg-bg {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .header-and-about {
        flex-direction: column;
        align-items: center;
        top: 150px;
        margin-bottom: 200px;
    }

    .svg-text {
        font-size: 24px;
    }

    .about-me-text {
        font-size: 20px;
    }


    .project-link {
        width: 20vh;
    }

    .projects,
    .project-container {
        padding: 0 20px;
    }

    .RS-logo {
        height: 25vh;
        width: auto;
    }

    .image-container {
        flex-direction: column;
        left: 0;
    }

    .h2-projects {
        position: relative;
        border: solid;
        border-color: #fff;
        background-color: #787878;
        border-radius: 10px;
        border-width: 3px;
        margin: 0px;
        font-size: 16px;
        max-width: fit-content;
    }

    .flex-box-images,
    .flex-box-images2,
    .flex-box-images3 {
        border-style: solid;
        border-radius: 10px;
        overflow: hidden;
        border-color: #787878;
        border-width: 8px;
        margin: 0px;
        padding: 0px;
        height: 20vh;
        width: auto;
        margin-bottom: 40px;
    }

    .flex-box-images2 {
        margin-top: 40px;
        height: 30vh;
    }

    .overlay-text,
    .overlay-text2,
    .overlay-text3 {
        opacity: 0;
    }

    .hover-text,
    .hover-text3 {
        text-align: left;
        left: 5px;
        margin: 0px;
        padding: 0px;
        min-width: 100px;
        max-width: 100px;
        color: #fff;
        opacity: 1;
        font-size: 6px;
    }

    .hover-text2 {
        text-align: left;
        left: 5px;
        margin: 0px;
        padding: 0px;
        min-width: 90px;
        max-width: 90px;
        color: #fff;
        opacity: 1;
        font-size: 5px; 
    }

    .footer-bar {
        flex-direction: column;
    }

    .contact-list {
        flex-direction: column;
    }
}


@media screen and (max-width: 649px) {
    .arrow-up-icon {
        visibility: hidden;
    }

    button {
        font-size: 10px;
        justify-content: center;
        position: relative;
        border: solid;
        border-color: #fff;
        border-radius: 20px;
        color: #fff;
        background-color: transparent;
        padding: 8px;
        transition: background-color ease-out 0.5s;
    }

    .svg-bg {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .header-and-about {
        flex-direction: column;
        align-items: center;
        top: 150px;
        margin-bottom: 220px;
    }

    .about-me-text,
    .svg-text {
        font-size: 24px;
    }

    .projects,
    .project-container {
        padding: 0 20px;
    }

    .image-container {
        flex-direction: column;
        left: 0;
    }

    .h2-projects {
        position: static;
        border: solid;
        border-color: #fff;
        background-color: #787878;
        border-radius: 10px;
        border-width: 3px;
        margin: 0px;
        font-size: 16px;
        max-width: fit-content;
    }

    .flex-box-images,
    .flex-box-images2,
    .flex-box-images3 {
        border-style: solid;
        border-radius: 10px;
        overflow: hidden;
        border-color: #787878;
        border-width: 8px;
        margin: 0px;
        padding: 0px;
        height: 15vh;
        width: auto;
        margin-bottom: 40px;
    }

    .flex-box-images2 {
        margin-top: 40px;
        height: 20vh;
    }

    .overlay-text,
    .overlay-text2,
    .overlay-text3 {
        opacity: 0;
    }

    .hover-text,
    .hover-text2,
    .hover-text3 {
        position: relative;
        text-align: left;
        left: 5px;
        margin: 0px;
        padding: 0px;
        min-width: 80px;
        max-width: 80px;
        color: #fff;
        opacity: 1;
        font-size: 4px;
    }

    .footer-bar {
        flex-direction: column;
    }

    .contact-list {
        flex-direction: column;
    }


}




@media screen and (max-width: 430px) {
    .arrow-up-icon {
        visibility: hidden;
    }

    button {
        font-size: 10px;
        justify-content: center;
        position: relative;
        border: solid;
        border-color: #fff;
        border-radius: 20px;
        color: #fff;
        background-color: transparent;
        padding: 8px;
        transition: background-color ease-out 0.5s;
    }

    .svg-bg {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .header-and-about {
        flex-direction: column;
        align-items: center;
        top: 150px;
        margin-bottom: 220px;
    }
    
    .about-me-text,
    .svg-text {
        font-size: 24px;
    }

    .projects,
    .project-container {
        padding: 0 20px;
    }

    .image-container {
        flex-direction: column;
        left: 0;
    }

    .h2-projects {
        position: static;
        border: solid;
        border-color: #fff;
        background-color: #787878;
        border-radius: 10px;
        border-width: 3px;
        margin: 0px;
        font-size: 16px;
        max-width: fit-content;
    }

    .flex-box-images,
    .flex-box-images2,
    .flex-box-images3 {
        border-style: solid;
        border-radius: 10px;
        overflow: hidden;
        border-color: #787878;
        border-width: 8px;
        margin: 0px;
        padding: 0px;
        height: 15vh;
        width: auto;
        margin-bottom: 40px;
    }

    .flex-box-images2 {
        margin-top: 40px;
        height: 20vh;
    }

    .overlay-text,
    .overlay-text2,
    .overlay-text3 {
        opacity: 0;
    }

    .hover-text,
    .hover-text2,
    .hover-text3 {
        position: relative;
        text-align: left;
        left: 5px;
        margin: 0px;
        padding: 0px;
        min-width: 80px;
        max-width: 80px;
        color: #fff;
        opacity: 1;
        font-size: 4px;
    }

    .footer-bar {
        flex-direction: column;
    }

    .contact-list {
        flex-direction: column;
    }


}
